@import "tailwindcss";

@theme {
  --color-primary: #ffffff;
  --color-secondary: #febd1a;
  --color-txtColor: #000000;
  --breakpoint-xs: 360px;
}

.heading {
  @apply text-4xl md:text-5xl uppercase;
}
.subHeading {
  @apply text-xl md:text-2xl uppercase;
}
.normalText {
  @apply text-sm md:text-lg text-justify;
}
.summary::marker {
  display: none;
}
