@import "tailwindcss";

@theme {
  --color-primary: #ffffff;
  --color-secondary: #FEBD1A;
  --color-txtColor: #000000;
}

.heading {
  @apply text-4xl md:text-5xl;
}
.subHeading {
  @apply text-xl md:text-2xl;
}
.normalText {
  @apply text-sm md:text-lg;
}
.summary::marker{
  display:none;
}