@import "tailwindcss";

@theme {
  --color-primary: #ffffff;
  --color-secondary: #febd1a;
  --color-txtColor: #000000;
  --breakpoint-xs:400px;
  --breakpoint-as:360px;
  --breakpoint-bs: 1167px;
}

.heading {
  @apply text-4xl md:text-5xl uppercase;
}
.subHeading {
  @apply text-xl md:text-2xl uppercase;
}
.normalText {
  @apply text-sm md:text-lg;
}
.summary::marker {
  display: none;
}
